---

---

<div class="wrapper">
  <slot />
</div>

<style>
  .wrapper {
    max-width: 1512px;
    margin: 0 auto;
    padding: .5rem 0;
  }

  @media (min-width: 480px) {
    header {
      padding: .5rem 3rem;
    }
  }
</style>