---
import Header from "./components/Header.astro";

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Fusion Cup</title>
	</head>
	<body>
		<Header />
		<main>
			<h1>Bienvenido a Fusion Cup</h1>
			<p>Pronto más información sobre el evento.</p>
		</main>
	</body>
</html>

<style>
	/* Design System */
	:root {
		/* Color Variables */
		--primary-color: #2E0C40;
		--primary-light-color: #642E7B;
		--secondary-color: #FA570C;
		--white: #FFFFFF;

		/* Font Variables */
		--font-family-primary: 'Montserrat', serif;
		--font-family-secondary: 'Open Sans', sans-serif;

		/* Breakpoints Variables */
		--breakpoint-mobile: 480px;
	}

	body {
		font-family: var(--font-family-primary);
		margin: 0;
		padding: 0;
		background-color: var(--primary-color);
		color: var(--white);
	}
</style>