---
import { getPlayerBestGoaler } from "../services/mostGoals.js";
import { getPlayerWithMostYellowCards } from "../services/mostYellowCards.js";
import { Image } from 'astro:assets';
import NextMatch from "./NextMatch.astro";
import Standings from "./Standings.astro";
import PlayerStatCard from "./PlayerStatCard.astro";

const bestGoaler = await getPlayerBestGoaler();
const playerWithMostYellowCards = await getPlayerWithMostYellowCards()

---
<main>
  <div class="flex-container">
		<NextMatch classes="div1" />
		<div class="flex-container--standings">
			<Standings classes="div2" name="Grupo A" groupID="1" />
			<Standings classes="div3" name="Grupo B" groupID="2" />
		</div>
		<div class="flex-container--stats">
			<PlayerStatCard
				classes="div4"
				title="Máximo Goleador"
				emoji="⚽"
				name={bestGoaler.name}
				stat={`${bestGoaler.total_goals} Goles Anotados`}
			/>
			<PlayerStatCard
				classes="div5"
				title="Más Amonestado"
				emoji="🟨"
				name={playerWithMostYellowCards.name}
				stat={`${playerWithMostYellowCards.total_yellow_cards} Tarjetas Amarillas`}
			/>
		</div>
		<div class="flex-container--footer">
			<div class="div6 empty">
				<Image
					src='/assets/ilustrations/man_kicking.png'
					alt='Ilustración de fútbol'
					width={80}
					height={80}
					loading="lazy"
				/>
			</div>
			<div class="div7 empty">
				<a href="https://instagram.com/fusioncup2025" target="_blank" rel="noopener noreferrer">
					<Image
						src='/assets/icons/instagram.png'
						alt='Instagram Logo'
						width={80}
						height={80}
						loading="lazy"
					/>
					<span>@fusioncup2025</span>
				</a>
			</div>
		</div>
  </div>
</main>

<style is:global>
	.empty {
		background-color: var(--primary-light-color);
		min-height: 6rem;
	}

	.flex-container {
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	div[class^="flex-container--"] {
		display: flex;
		flex-direction: row;
		gap: .5rem;
	}

	div[class^="flex-container"] > * {
		border-radius: 1rem;
	}

	.div6 {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 80%;
			height: 80%;
		}
	}

	.div6 {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 80%;
			height: 80%;
			max-width: 260px;
			max-height: 260px;
		}
	}

	.div7 {
		padding: 5px;
		
		a {
			display: flex;
			height: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: .5rem;
			text-decoration: none;
			color: var(--white-color);
		}
	}
</style>