---
import NextMatch from "./NextMatch.astro";
import Standings from "./Standings.astro";
import PlayerStatCard from "./PlayerStatCard.astro";

---
<main>
  <div class="parent bg-red">
		<NextMatch classes="div1" />
		<Standings classes="div2" name="Grupo A" />
		<Standings classes="div3" name="Grupo A" />
		<PlayerStatCard
      classes="div4"
      title="Máximo Goleador"
      emoji="⚽"
      name="Pedro Pérez"
      stat="10 Goles Anotados"
    />
    <PlayerStatCard
      classes="div5"
      title="Mejor Portero"
      emoji="🧤"
      name="Luis López"
      stat="10 Goles Recibidos"
    />
    <div class="div6 empty"></div>
    <div class="div7 empty"></div>
  </div>
</main>

<style is:global>
	.empty {
		background-color: var(--primary-light-color);
		min-height: 6rem;
	}

	.parent {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: row;
		gap: .5rem;
	}

	.parent > * {
		border-radius: 1rem;
	}

	.div1 {
		grid-column: 1 / span 2;
		grid-row: 1;
	}

	.div2 {
		grid-column: 1;
		grid-row: 2;
	}

	.div3 {
		grid-column: 2;
		grid-row: 2;
	}

	.div4 {
		grid-column: 1;
		grid-row: 3;
	}

	.div5 {
		grid-column: 2;
		grid-row: 3;
	}

	.div6 {
		grid-column: 1;
		grid-row: 4;
	}

	.div7 {
		grid-column: 2;
		grid-row: 4;
	}

  @media (min-width: 480px) {
		.parent {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(4, 1fr);
		}

		.parent > * {
			border-radius: 1.5rem;
		}

		.div1 {
			grid-column-start: 3;
			grid-row-start: 1;
			grid-row: span 1 / span 1;
		}

		.div2 {
			grid-column: 1 / span 2;
			grid-row: 1 / span 2;
		}

		.div3 {
			grid-column: 1 / span 2;
			grid-row: 3 / span 2;
		}

		.div4 {
			grid-row: span 2 / span 2;
			grid-column-start: 3;
			grid-row-start: 2;
		}

		.div5 {
			grid-row: span 2 / span 2;
			grid-column-start: 4;
			grid-row-start: 2;
		}

		.div6 {
			grid-column-start: 3;
			grid-row-start: 4;
		}

		.div7 {
			grid-column-start: 4;
		}
	}
</style>