---
import { getNextMatch } from '../services/nextMatches.js';
import { Image } from 'astro:assets';

const { classes } = Astro.props
const teams = await getNextMatch();

---

<div class={`${classes} next-match`}>
  <div class="title">
    <h2>Próximo Partido</h2>
  </div>
  <div class="match">
    <div class="team1">
      <Image
        src={'/src/assets/teams/' + teams.team1.toLowerCase() + '.png'}
        alt={`${teams.team1} Logo`}
        width={100}
        height={100}
        loading="lazy"
      />
    </div>
    <div class="vs">vs</div>
    <div class="team2">
      <Image
        src={'/src/assets/teams/' + teams.team2.toLowerCase() + '.png'}
        alt={`${teams.team2} Logo`}
        width={100}
        height={100}
        loading="lazy"
      />
    </div>
  </div>
</div>

<style>
  .next-match {
    background-color: var(--white);
    color: var(--primary-color);
    font-size: 1rem;
  }

  .next-match > * {
    padding-inline: 1rem;
		padding: 1rem 1.5rem;
  }

  .match {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .vs {
    font-size: 1.5rem;
    font-weight: bold;
  }

  @media (min-width: 830px) {
    .next-match {
      font-size: .8rem;
    }
  }
</style>