---
const { classes } = Astro.props

---

<div class={`${classes} standings`}>
  <div class="title">
    <h2>Grupo A</h2>
  </div>
  <div class="standings-list">
    <table>
      <thead>
        <tr>
          <th>Pos.</th>
          <th>PJ</th>
          <th>DG</th>
          <th>Pts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1 Modus</td>
          <td>5</td>
          <td>4</td>
          <td>12</td>
        </tr>
        <tr>
          <td>2 Hechos</td>
          <td>5</td>
          <td>3</td>
          <td>9</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  .standings {
    background-color: var(--white);
    color: var(--black);
  }

  .title {
    background-color: var(--primary-light-color);
    color: var(--white);
    padding: .25rem .5rem;
    border-radius: 1rem 1rem 0 0;
  }

  @media (min-width: 480px) {
    .title {
      padding: .5rem 1rem;
      border-radius: 1.5rem 1.5rem 0 0;
    }
  }
</style>
